:root {
  --new-blue-1200: #053661;
  --new-blue-1100: #064c88;
  --new-blue-1000: #07579c;
  --new-blue-900: #0a6cc2;
  --new-blue-800: #157cd5;
  --new-blue-700: #2a8bdf;
  --new-blue-600: #56a8f0;
  --new-blue-500: #7cbcf4;
  --new-blue-400: #a6d1f7;
  --new-blue-300: #bddef9;
  --new-blue-200: #d9ecfc;
  --new-blue-150: #e8f3fc;
  --new-blue-100: #f6fafe;
  --new-blue-50: #f8fcfe;
  --black-1200: #151515;
  --black-1100: #292929;
  --black-1000: #3e3e3e;
  --black-900: #525252;
  --black-800: #676767;
  --black-700: #7c7c7c;
  --black-600: #909090;
  --black-500: #a5a5a5;
  --black-400: #bababa;
  --black-300: #cecece;
  --black-200: #e3e3e3;
  --black-150: #ebebeb;
  --black-100: #f7f7f7;
  --black-0: #ffffff;
  --grey-1200: #222c31;
  --grey-1100: #2e3c43;
  --grey-1000: #3b4c55;
  --grey-900: #475d67;
  --grey-800: #546d79;
  --grey-700: #607d8b;
  --grey-600: #79929d;
  --grey-500: #92a6b0;
  --grey-400: #acbbc2;
  --grey-300: #c5cfd5;
  --grey-200: #dee4e7;
  --grey-150: #eaeef1;
  --grey-100: #f7f9f9;
  --accent-1200: #17354e;
  --accent-1100: #20486b;
  --accent-1000: #295c88;
  --accent-900: #326fa5;
  --accent-800: #3a83c2;
  --accent-700: #4396df;
  --accent-600: #61a7e4;
  --accent-500: #7fb7e9;
  --accent-400: #9cc8ee;
  --accent-300: #bad9f3;
  --accent-200: #d8e9f8;
  --accent-150: #eaf3fb;
  --accent-100: #f6fafd;
  --blue-reverso-1200: #002f59;
  --blue-reverso-1100: #003e72;
  --blue-reverso-1000: #004c87;
  --blue-reverso-900: #005997;
  --blue-reverso-800: #0065a4;
  --blue-reverso-700: #0970ac;
  --blue-reverso-600: #288ac5;
  --blue-reverso-500: #51a2d9;
  --blue-reverso-400: #79bae9;
  --blue-reverso-300: #a2d0f5;
  --blue-reverso-200: #cae5fc;
  --blue-reverso-150: #e1f1fe;
  --blue-reverso-100: #f2f9ff;
  --blue-gradient-1200: linear-gradient(to right, #0970ac, #004c87);
  --blue-gradient-1000: linear-gradient(to right, #055cb3, #4498f7);
  --blue-gradient-800: linear-gradient(to right, #0970ac, #28abc5);
  --purple-rephrase-1200: #312043;
  --purple-rephrase-1100: #442b5c;
  --purple-rephrase-1000: #563775;
  --purple-rephrase-900: #68438d;
  --purple-rephrase-800: #7b4ea6;
  --purple-rephrase-700: #8d5abf;
  --purple-rephrase-600: #9f6dd0;
  --purple-rephrase-500: #b183df;
  --purple-rephrase-400: #c39beb;
  --purple-rephrase-300: #d5b6f4;
  --purple-rephrase-200: #e7d4fa;
  --purple-rephrase-150: #f2e8fd;
  --purple-rephrase-100: #f9f4fe;
  --yellow-premium-1200: #594711;
  --yellow-premium-1100: #7a6118;
  --yellow-premium-1000: #9c7b1e;
  --yellow-premium-900: #bd9624;
  --yellow-premium-800: #deb02b;
  --yellow-premium-700: #ffca31;
  --yellow-premium-600: #ffd252;
  --yellow-premium-500: #ffdb72;
  --yellow-premium-400: #ffe393;
  --yellow-premium-300: #ffecb4;
  --yellow-premium-200: #fff4d4;
  --yellow-premium-150: #fff8e5;
  --yellow-premium-100: #fffcf5;
  --orange-warning-1300: #38220a;
  --orange-warning-1200: #55330f;
  --orange-warning-1100: #754614;
  --orange-warning-1000: #95581a;
  --orange-warning-900: #b56b1f;
  --orange-warning-800: #d47e25;
  --orange-warning-700: #f4912a;
  --orange-warning-600: #ffa33e;
  --orange-warning-500: #ffb456;
  --orange-warning-400: #ffc679;
  --orange-warning-300: #ffd7a2;
  --orange-warning-200: #ffe8ca;
  --orange-warning-150: #fff3e0;
  --orange-warning-100: #fffaf2;
  --red-reverso-1300: #350e08;
  --red-reverso-1200: #4e150c;
  --red-reverso-1100: #6b1d10;
  --red-reverso-1000: #882515;
  --red-reverso-900: #a52d19;
  --red-reverso-800: #c2351e;
  --red-reverso-700: #df3d22;
  --red-reverso-600: #e45c45;
  --red-reverso-500: #e97a68;
  --red-reverso-400: #ee998b;
  --red-reverso-300: #f3b8ae;
  --red-reverso-200: #f8d7d1;
  --red-reverso-150: #fbe8e5;
  --red-reverso-100: #fdf5f4;
  --green-1400: #0e2f1b;
  --green-1300: #154929;
  --green-1200: #195731;
  --green-1100: #1f6b3c;
  --green-1000: #27874c;
  --green-900: #2d9c58;
  --green-800: #31a960;
  --green-700: #36ba69;
  --green-600: #53cd82;
  --green-500: #9ae2b5;
  --green-400: #caf0d9;
  --green-300: #d6f3e2;
  --green-200: #e3f7ea;
  --green-150: #e3f7ea;
  --green-100: #f3fbf6;
  --decorative-adjective: #ffe7c7;
  --decorative-verb: #f5edfd;
  --decorative-bg-adjective: #f8edd3;
  --decorative-line-adjective: #dca425;
  --decorative-bg-verb: #f8e5f4;
  --decorative-line-verb: #dc7dc6;
  --decorative-bg-noun: #e2ecff;
  --decorative-line-noun: #6fa0ff;
  --decorative-bg-adverb: #e3f7ea;
  --decorative-line-adverb: #57c182;
}
