<div class="modal-backdrop">
  <div class="modal">
    <h2>{{ book ? 'Редактировать' : 'Добавить' }} книгу</h2>

    <label>Автор:
      <input [(ngModel)]="form().author" />
    </label>

    <label>Название:
      <input [(ngModel)]="form().title" />
    </label>

    <label>Год издания:
      <input type="number" [(ngModel)]="form().year" />
    </label>

    <label>Кол-во страниц:
      <input type="number" [(ngModel)]="form().pages" />
    </label>

    <button (click)="submitForm()">Сохранить</button>
    <button (click)="cancel.emit()">Отмена</button>
  </div>
</div>
