:host {
  .list {
    &__item {
      animation-duration: 300ms;
      transition: box-shadow 100ms;

      &:hover {
        box-shadow: 0 0 16px var(--black-200);
      }

      &:nth-child(even) {
        background-color: var(--black-100);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--black-300);
      }
    }
  }
}
