.app-input {
  padding: 4px 8px;
  width: 100%;
  font-family: var(--font-family), sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--black-700);
  background-color: transparent;
}
