{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-empty-source": null,
    "scss/dollar-variable-empty-line-before": null,
    "color-hex-length": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ]
  }
}
